:root {
    --pixel-size: 6; 
}

.seagull {
  width: calc(50px * var(--pixel-size));
  height: calc(50px * var(--pixel-size));
  overflow: hidden;
}


.pixelart {
    image-rendering: pixelated;
}


.seagull_spritesheet {
  width: calc(150px * var(--pixel-size)); /* 3 frames across */
  height: calc(100px * var(--pixel-size)); /* total height of spritesheet */
  animation: moveSpritesheet 1s steps(3) infinite;
}

@keyframes moveSpritesheet {
  0%   { transform: translate3d(0, 0, 0); }
  50%  { transform: translate3d(-100%, 0, 0); } /* move through top row */
  50.01% { transform: translate3d(0, -50%, 0); } /* jump to bottom row */
  100% { transform: translate3d(-100%, -50%, 0); } /* move through bottom row */
}
